<!-- .Container Starts -->
<div class="container">
    <div class="row no-gutters align-items-center">
        <div class="col-lg-6 text-center text-lg-left">
            <h1>{{ page.title }}</h1>
            <p class="larger-txt">Learn how we helped our several clients grow in online <br>business.It will
                give you an idea of our capabilities.</p>

        </div>
        <!-- End of .col-lg-5 -->

        <div class="col-lg-6">
            <div class="img-container text-center text-lg-right">
                <img src="assets/images/banner/about-banner.png" alt="Home banner image" class="img-fluid">
            </div>
            <!-- End of .img-container -->
        </div>
        <!-- End of .col-lg-7 -->
    </div>
    <!-- End of .row -->
</div>
<!-- End of .container -->