<!-- footer starts -->
<footer class="page-footer dark-footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-widget widget-about">
                    <a href="index-2.html"><img class="footer-logo" src="assets/images/footer-logo.svg"
                            alt="footer logo" height="16"></a>
                    <p>Ut wisi enim ad minim veniam. Quis nostrud exerci tation ullam corper suscipit lobortis nisl
                        ut
                        aliquip ex eading.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="http://www.facebook.com/" target="_blank" rel="noopener">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://youtube.com/" target="_blank" rel="noopener">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://plus.google.com/discover" target="_blank" rel="noopener">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End of .social-icons -->
                    <p class="copywrite-txt">© 2022 <a href="http://www.axilthemes.com/">Axilthemes</a>. All Rights
                        Reserved.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5 class="footer-nav-title">Services</h5>
                    <ul class="footer-nav dynamic-nav">
                        <li><a href="website-design.html">Website Design</a></li>
                        <li><a href="logo-and-branding.html">Logo &amp; Branding </a></li>
                        <li><a href="mobile-app-development.html">Mobile App Development</a></li>
                        <li><a href="search-engine-optimization.html">Search Engine Optimization</a></li>
                        <li><a href="pay-per-click.html">Pay-Per-Click</a></li>
                        <li><a href="social-media-marketing.html">Social Media Marketing</a></li>
                    </ul>
                </div>
            </div>
            <!-- End of .col-lg-2 -->

            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5 class="footer-nav-title">Support</h5>
                    <ul class="footer-nav dynamic-nav">
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- End of .col-lg-2 -->

            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5 class="footer-nav-title">Resources</h5>
                    <ul class="footer-nav dynamic-nav">
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="case-studies.html">Case Studies</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="news.html">News</a></li>
                    </ul>
                </div>
            </div>
            <!-- End of .col-lg-2 -->
        </div>
        <!-- End of .row -->
    </div>
    <!-- End of .container -->
</footer>
<!-- End of .page-footer -->